<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Airport Management Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>
</nav>
<div>
        <form class="form-horizontal">
            <h1 style="text-align: center;">Passangers</h1>
            <div >
                  <div>
                    <div class="row alert-success alert" style="text-align: center;"><b>Passangers List</b></div>
                    <div class="container">
                        <form class="row justify-content-md-center" #editForm="ngForm" id="editForm" (ngSubmit)="updateFilter()">
                            <div class="col">

                            </div>
                            <div class="col">
                                
                            </div>
                            <div class="col align-right">
                                <h4>Page Size</h4>
                            </div>
                            <div class="col">
                                <input name="pageSize" rows="6" class="col form-control" [(ngModel)]="this.pagination!.itemsPerPage"/>
                            </div>
                            <br/>
                            <div class="col">
                                <button form="editForm" class="col btn btn-danger btn-block text-center">Save Changes</button>
                            </div>
                            <div class="col">
                                
                            </div>
                            <div class="col">
                                
                            </div>
                          </form>
                    </div>
<br/>
                    <div class="row table-responsive" style="text-align: center;">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Passanger Id</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Passport Number</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let passanger of passangersData">
                                    <td>{{ passanger.id }}</td>
                                    <td>{{ passanger.firstName }}</td>
                                    <td>{{ passanger.lastName }}</td>
                                    <td>{{ passanger.passportNumber }}</td>
                                    <td><button class="btn btn-primary" type="button" matToolTip="Click Edit Button">Edit</button>
                                        |
                                        <button class="btn btn-primary" [routerLink]="['/passanger/',passanger?.id]"><i class="fa fa-info"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>    
        <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" 
            [totalItems]="pagination!.totalItems"
            [itemsPerPage]="pagination!.itemsPerPage"
            [(ngModel)]="pagination!.currentPage"
            (pageChanged)="pageChanged($event)"
            [maxSize]="pagination?.totalPages"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
 
</pagination>


        </div>
</div>
